<a class="apps__app" href="{{#has tag="link"}}{{excerpt}}{{else}}{{url absolute=true}}{{/has}}" data-aos="fade-up">
  <div class="apps__app__inner">
    <img
    src="{{img_url feature_image size="app"}}" class="apps__app__img"
    alt="{{title}}">
  </div>
  <div class="apps__app__label">{{title}}</div>
</a>
